name: Build and Push Multi-Arch Base Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: marsss816/jdk21-ffmpeg:latest
          platforms: linux/amd64,linux/arm64
          build-args: |
            FFMPEG_URL_AMD64=https://johnvansickle.com/ffmpeg/releases/ffmpeg-6.0-amd64-static.tar.xz
            FFMPEG_URL_ARM64=https://johnvansickle.com/ffmpeg/releases/ffmpeg-6.0-arm64-static.tar.xz